.sidebar {
  border: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}
.users {
  align-self: center;
}
.online-user-container {
  border: 2px solid #6A6;
  height:30vh;
  overflow-y: scroll;
  margin: 0px;
  font-size: 16px;
}
.offline-user-container {
  font-size: 16px;
  border: 2px solid #B66;
  height:30vh;
  overflow-y: scroll;
  margin: 0px;
}

.add_user_btn {
  margin-top: 5px;
  align-self: stretch;
  background-color: #6A6;
  padding: 10px;
  color: #FFF;
  border-radius: 3px;
}

.user_name_input {
  margin-top: 5px;
  text-align: center;
  padding: 5px;
}

.password_input {
  margin-top: 5px;
  text-align: center;
  padding: 5px;
}

.failed_login_msg {
  margin-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #B66;
  padding: 5px;
}

.sidebar_container {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.left {
  text-align: left;
}

.generate_key_btn {
  margin-top: 5px;
  align-self: stretch;
  background-color: #6A6;
  padding: 10px;
  color: #FFF;
  border-radius: 3px;
}

.user {

}

.user:hover {
  border-color: #6A6;
  border-radius: 3px;
  cursor: pointer;
}

.no_cursor {
  cursor: default !important;
}

.user:hover .key {
  top: 0 !important;
  left: 0 !important;
  position: relative;
}

.selected .key {
  color: #6A6;
  top: 0 !important;
  left: 0 !important;
  position: relative !important;
}

.key {
  font-size: 12px;
  padding-left: 5px;
  position: absolute;
  top: -9999px !important;
  left: -9999px !important;
}
